.root {
	 -fx-background-color: turquoise /* TODO pick a nice color :) */
}

.circle {
	-fx-cursor: crosshair
}

.button {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-family: "Robosto";
	-fx-background-color: linear-gradient(khaki, yellow);
}

.button:hover {
	-fx-background-color: linear-gradient(yellow, khaki);
}

.modifiedGame {
	-fx-background-color: linear-gradient(orchid, darkorchid)
}
.modifiedGame:hover {
	-fx-background-color: linear-gradient(darkorchid, orchid)
}


.completedGame {
	-fx-background-color: linear-gradient(cornflowerblue, blue);
}

.completedGame:hover {
	-fx-background-color: linear-gradient(blue, cornflowerblue);
}

.soundButton {
    -fx-text-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#d0451b, #bc3315);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.soundButton:hover {
    -fx-background-color: linear-gradient(#bc3315, #d0451b);
}
