.root {
	 -fx-background-color: LIGHTSEAGREEN /* TODO pick a nice color :) */
}

.circle {
	-fx-cursor: crosshair
}

.button {
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-font-family: "Robosto";
	-fx-background-color: linear-gradient(khaki, PALEGOLDENROD);
}

.button:hover {
	-fx-background-color: linear-gradient(PALEGOLDENROD, khaki);
}

.modifiedGame {
	-fx-background-color: linear-gradient(green, yellow)
}
.modifiedGame:hover {
	-fx-background-color: linear-gradient(yellow, green)
}


.completedGame {
	-fx-background-color: linear-gradient(DARKCYAN, blue);
}

.completedGame:hover {
	-fx-background-color: linear-gradient(blue, DARKCYAN);
}

.soundButton {
    -fx-text-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#d0451b, #bc3315);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.soundButton:hover {
    -fx-background-color: linear-gradient(#bc3315, #d0451b);
}
.setBorder {
	-fx-border-color: red; 
	-fx-border-insets: 5;
	-fx-border-width: 3;
	-fx-border-style: dashed;
}
