.root {
	 -fx-background-color: royalblue  /* TODO pick a nice color :) */
}

.button {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: "Robosto";
	-fx-background-color: linear-gradient(red, maroon);
}

.button:hover {
	-fx-background-color: linear-gradient(maroon, red);
}

.soundButton {
    -fx-text-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#d0451b, #bc3315);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.soundButton:hover {
    -fx-background-color: linear-gradient(#bc3315, #d0451b);
}
